#header1, #paragraph1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#start-btn {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hide {
    display: none;
}

.timer {
    display: flex;
    justify-self: left;
    align-items: flex-start;
}

.button-group {
    text-align: center;
}

/* .form {
    text-align: center;
    align-items: center;
} */